{% extends "tethys_apps/app_base.html" %}

{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}


{% block title %}{{ tethys_app.name }}{% endblock %}
{% block app_icon %}<img alt="{{ tethys_app.name }}" src="{% static tethys_app.icon %}">{% endblock %}
{% block app_title %}{{ tethys_app.name }}{% endblock %}
{% block app_content %}{% endblock %}


{% block header_buttons %}
  <div style="text-align: center; color: white; padding: 8px"><strong>{{ version }}</strong></div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="How To Use This Page">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom"
       title="View Source Code and Documentation">
    <a href="{{ githublink }}" target="_blank"><span class="glyphicon glyphicon-hdd"></span></a>
  </div>
{% endblock %}

{% block after_app_content %}
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">How To Use This Page</h5>
        </div>

        <div class="modal-body">
          <h6>Directions:</h6>
          1. On the left menu, select region of interest <br>
          2. Select forecasting model <br>
          3. Click on a catchment to generate a time-series <br>
          <h6>Notes:</h6>
            <ul style="padding-left:18px; list-style-type:circle">
              <li>Precipitation amounts are the calculated average over the catchment area.</li>
              <li>The user can change the plot type from unique-interval to cumulative.</li>
              <li>Catchments are colored based on either the total precipitation (default) or the highest precipitation interval within the duration of the forecast.</li>
              <li>Complete documentation can be found <a href="https://rileyhales.github.io/ffgs/" target="_blank">here</a>.</li>
            </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_navigation_items %}
  <li class="title">Region/Model Controls</li>
  {% gizmo select_input ffgsregions %}
  <div id="hisp_models_wrapper">{% gizmo select_input hisp_models %}</div>
  <div id="central_models_wrapper" style="display: none;">{% gizmo select_input central_models %}</div>

  <div id="gfsdate" style="text-align: center; padding: 4px;"><strong>{{ gfs_forecastdate }}</strong></div>
  {# Extra models to show for hispaniola #}
  <div id="hisp_dates_wrapper">
    <div style="text-align: center; padding: 4px;"><strong>{{ wrfpr_forecastdate }}</strong></div>
  </div>
  {# Extra models to show for central america #}
  <div id="central_dates_wrapper" style="display: none;">
{#    <div style="text-align: center; padding: 4px;"><strong>{{ wrfpr_forecastdate }}</strong></div>#}
  </div>
  <div id="mouse-position" class="well well-sm" style="text-align: center"></div>

  <li class="title">Display Options</li>
  {% gizmo select_input chartoptions %}
  {% gizmo select_input resulttypeoptions %}
  {% gizmo range_slider legendintervals %}
  {% gizmo range_slider opacity_raster %}
  {% gizmo select_input colorscheme %}

{% endblock %}

{% block app_actions %}
  <strong style="color: white; font-size: large">Help and Resources</strong>
  <a class="btn btn-default" role="button" data-toggle="modal" data-target="#help-modal">How To Use This App</a>
  <a class="btn btn-default" role="button" href="{{ githublink }}" target="_blank">View Source Code (GitHub)</a>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <!-- styling for leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
  <!-- styling for timeseries controls -->
  <link rel="stylesheet"
        href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css"/>
  <!-- styling for the leaflet draw plugin -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.css"/>

  <!-- styling generated for the app -->
  <link href="{% static 'ffgs/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!-- Allows csrf verification with AJAX -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <!-- script for leaflet -->
  <script type="text/javascript" src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
  <!-- Leadlet with Esri -->
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
          integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
          crossorigin=""></script>
  <!-- script for timeseries controls in leaflet -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.0/dist/leaflet.timedimension.min.js"></script>
  <!-- allows you to use the leaflet draw plugin -->
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.js"></script>

  <!-- script for using highcharts (display timeseries plot) -->
  <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/export-data.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/no-data-to-display.js"></script>


  <!-- scripts I wrote for the app, main should go last -->
  <script src="{% static 'ffgs/js/bounds.js' %}" type="text/javascript"></script>
  <script src="{% static 'ffgs/js/geojson_hispaniola.js' %}" type="text/javascript"></script>
  <script src="{% static 'ffgs/js/geojson_centralamerica.js' %}" type="text/javascript"></script>

  <script src="{% static 'ffgs/js/leaflet.js' %}" type="text/javascript"></script>
  <script src="{% static 'ffgs/js/highcharts.js' %}" type="text/javascript"></script>
  <script src="{% static 'ffgs/js/main.js' %}" type="text/javascript"></script>
{% endblock %}