html, body, #app-content, #inner-app-content, #outer-container {
    margin: 0px;
    padding: 2px;
    height: 100%;
}

#app-navigation-items {
    height: 100% !important;
}

#map {
    height: 60%;
    padding: 1px;
}

#highchart {
    height: 40%;
    padding: 1px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
